@media only screen and (max-width:1200px) {
    #emailinput {
        width: 300px;
        height: 40px;
    }
    #passwordinput {
        width: 300px;
        height: 40px;
    }
    #loginAvatar {
        position: inherit;
        height: 45px;
        width: 45px;
    }
}

@media only screen and (max-width:360px) {
    #loginAvatar {
        height: 30px;
        width: 30px;
    }

    #emailinput {
	width: auto;
    height: auto;
}
    #passwordinput {
	width: auto;
    height: auto;
}
}

