div.dropdown {
    font-family: Roboto;
    font-size: 48px;
    font-weight: bold;
    margin-top: 0;
    padding-top: -10px;
    padding-bottom: 8px;
    padding-left: 0;
}

#firstlistitemID li{
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.dropdown-menu li {
    font-family: Roboto;
    font-size: 13pt;
    margin: 3px;
}

.dropdown-menu {
    border-width: 0px;
    border-style: solid;
    border-color: white;
    padding: 0px;
}

.dropdown-menu li>a {
   padding-bottom: 10px;
    padding-top: 10px;
}

#DropdownUL1 li>a{
    color: white;
}

#DropdownUL1 li>a:hover{
    text-decoration: none;
}

li.firstlistitem {
   padding-bottom: 50px;
   padding-top: 15px;
   padding-left: 15px;
}

#loginAvatar {
    position: inherit;
    width: 50px;
    height: 50px;
}

#loginBody,
#loginHTML {
    display: table;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#loginBody {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#loginField {
    display: table;
    float: inherit;
    margin: auto;
}

#loginTitle {
    text-align: center;
}

#loginButton {
    width: 150px !important;
    height: 40px !important;
    background-color: #001a3a;
    margin: 0 auto;
    margin: 20px auto;
    align-self: center !important;
}

.form-control.loginData {
    width: 300px auto;
    height: 40px auto;
    margin: 0 auto;
}

#register {
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    vertical-align: middle;
    color:#8da6d6;
}

#registerlink {
    text-decoration: underline;
}

.firstlistitem {
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

#dasbinich {
    background-color: #79ab2e;
}

#dasbinich>a:hover{
    background-color: #a1c153;
}

#ichunddieanderen {
    background-color: #c6d54f;
}

#ichunddieanderen>a:hover {
    background-color: #dbe283;
}

#dieweltummichherum {
    background-color: #94c122;
}

#dieweltummichherum>a:hover {
    background-color: #bad151;
}


#ichwerdeselbststaendig {
    background-color: #44b284;
}

#ichwerdeselbststaendig>a:hover {
    background-color: #7cc3a3;
}

#sichbewegen {
    background-color: #fd0;
}

#sichbewegen>a:hover {
    background-color: #ffea64;
}

#lernen {
    background-color: #ffed98;
}

#lernen>a:hover {
    background-color: #fff3d8;
}

#arbeiten {
    background-color: #fbb900;
}

#arbeiten>a:hover {
    background-color: #ffcf53;
}

#gestaltenunderschaffen {
    background-color: #ef7d25;
}

#gestaltenunderschaffen>a:hover {
    background-color: #f5a04c;
}

#sprachen {
    background-color: #d60d66;
}

#sprachen>a:hover {
    background-color: #e35184;
}

#fremdsprache {
    background-color: #ea518d;
}

#fremdsprache>a:hover {
    background-color: #ee7ba9;
}

#lesen {
    background-color: #f29db7;
}

#lesen>a:hover {
    background-color: #f7bed2;
}

#schreiben {
    background-color: #a62068;
}

#schreiben>a:hover {
    background-color: #c9427e;
}

#messen {
    background-color: #008fc8;
}

#messen>a:hover {
    background-color: #4fa8da;
}

#loesungenfinden {
    background-color: #62c2d0;
}

#loesungenfinden>a:hover {
    background-color: #94d3e5;
}

#zaehlenundrechnen {
    background-color: #004077;
}

#zaehlenundrechnen>a:hover {
    background-color: #005daa;
}

#formundraumentdecken {
    background-color: #3873b9;
}

#formundraumentdecken>a:hover {
    background-color: #658bc8;
}

#mathezrbiszehn {
    background-color: #001a3a;
}

#mathezrbiszehn>a {
    color: #4565ad;
}

#mathezrbiszehn>a:hover {
    color: white;
    background-color: #4565ad;
}

#deutschsatzanfang a {
    color: #4565ad;
    background-color: #001a3a;
}

#deutschsatzanfang>a:hover {
    color: white;
    background-color: #4565ad;
}

#sachkunde a {
    color: #4565ad;
    background-color: #001a3a;
}

#sachkunde>a:hover {
    color: white;
    background-color: #4565ad;
}

.firstlistitem {
    color: #4565ad;
    background-color: #001a3a;
}

nav.navbar.navbar-default.navbar-fixed-bottom {
    font-family: Roboto;
    font-weight: bold;
    font-style: normal;
    height: 50px;
    padding: .8em;
    text-align: center;
    color: #4565ad;
    background-color: #00264b;
}

#headerBar {
    font-family: Roboto;
    font-weight: bold;
    font-style: normal;
    background-color: #00264b;
}

#head {
    font-size: 13px;
    margin-top: .000008em;
}

#head2 {
    margin-bottom: 3em;
}

#checkFooter{
    color:#8da6d6;
    padding: 5px;
}

#checkFooter a{
    color:#8da6d6;

}

#footerText{
    font-family: Roboto;
    font-size: 9pt;
}

#emailinput{
    font-family: Roboto Thin;
    margin: 5px auto;
    font-size: 13 pt;
   color: #001a3a;
}

#emailinput::-webkit-input-placeholder, #passwordinput::-webkit-input-placeholder {
    color: #d3ddf2;
    font-size: 13 pt;
    text-transform:uppercase;
}

#DropdownUL{
   padding: 0px;
   margin-top: 15px;
}

#allekompetenzen{
    background: #001a3a;
}

#allekompetenzen>a:hover {
    color: white;
    background-color: #4565ad;
}

#textneberbild{
    padding-left: 50px;
   text-align: justify;
}

#kontend{
    font-size: 20px;
}
