
#checkFooter{
    color:#8da6d6;
    padding: 5px;
}

#checkFooter a{
    color:#8da6d6;

}


#loginAvatar {
    position: inherit;
    width: 50px;
    height: 50px;
}

#loginBody,
#loginHTML {
    display: table;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#loginBody {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#loginField {
    display: table;
    float: inherit;
    margin: auto;
}

#loginTitle {
    text-align: center;
}

#loginButton {
    width: 150px !important;
    height: 40px !important;
    background-color: #001a3a;
    margin: 0 auto;
    margin: 20px auto;
    align-self: center !important;
}

.form-control.loginData {
    width: 300px auto;
    height: 40px auto;
    margin: 0 auto;
}

#register {
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    vertical-align: middle;
    color:#8da6d6;
}

#registerlink {
    text-decoration: underline;
}



#emailinput{
    font-family: Roboto Thin;
    margin: 5px auto;
    font-size: 13 pt;
   color: #001a3a;
}

#emailinput::-webkit-input-placeholder, #passwordinput::-webkit-input-placeholder {
    color: #d3ddf2;
    font-size: 13 pt;
    text-transform:uppercase;
}
