body {
    background-color: pink;
}

div.container.col-lg-12 h1 {
    font-size: 10%em;
    font-weight: bold;
    font-style: italic;
    padding-bottom: 5px;
    letter-spacing: 5px;
    color: #4f4f4f;
}

div.dropdown {
    font-family: Roboto;
    font-size: 48px;
    font-weight: bold;
    margin-top: 0;
    padding-top: -10px;
    padding-bottom: 8px;
    padding-left: 0;
}

div.dropdown > button.btn.btn-primary.btn-circle.dropdown-toggle {}

div.navbar.navbar-default {
    margin: 0;
    padding: 0;
    border: 0;
}

#headerNavbar {
    margin: -8;
    padding: 0;
    border: 0;
}

.btn-circle {
    width: 48px;
    height: 48px;
    text-align: center;
    padding: 6px;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 50%;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
}

#testText {
    font-family: Roboto;
    font-size: 13px;
    font-weight: bold;
    margin: 10px;
    padding: 5px;
    background-color: pink;
}

li.firstlistitem {
    font-family: Roboto;
    font-size: 1.3em;
    margin: 5px;
    padding-bottom: 20px;
}

#schuleAvatar {
    width: 30px;
    height: 30px;
}

#schuelerAvatar {
    width: 30px;
    height: 30px;
}

.navbar-brand {
    color: black;
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(0, 0, 0, 1);
}

#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    border-width: 0;
    border-radius: 0;
    background-color: rgba(41, 122, 163, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-nav > li > a {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(41, 122, 163, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-nav > li > a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav > li > a:focus {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(248, 248, 248, 0);
}

#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a,
#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a:focus {
    color: rgba(0, 0, 0, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #000;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #000;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #297aa3;
}

#loginAvatar {
    position: inherit;
    width: 50px;
    height: 50px;
}

#loginBody,
#loginHTML {
    display: table;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#loginBody {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#loginField {
    display: table;
    float: inherit;
    margin: auto;
}

#loginTitle {
    text-align: center;
}

#loginButton {
    width: 150px !important;
    height: 40px !important;
    margin: 0 auto;
    margin: 20px auto;
    align-self: center !important;
}

.form-control.loginData {
    width: 300px auto;
    height: 40px auto;
    margin: 0 auto;
}

#register {
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    vertical-align: middle;
}

#registerlink {
    text-decoration: underline;
}

.firstlistitem {
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

#dasbinich {
    background-color: #79ab2e;
}

#dasbinich > a:hover {
    background-color: #a1c153;
}

#dasbinich a {
    font-family: Roboto;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#ichunddieanderen {
    background-color: #c6d54f;
}

#ichunddieanderen > a:hover {
    background-color: #dbe283;
}

#ichunddieanderen a {
    font-family: Roboto;
    font-size: 13px;
    padding-top: 13px;
    padding-bottom: 13px;
}

#dieweltummichherum {
    background-color: #94c122;
}

#dieweltummichherum > a:hover {
    background-color: #bad151;
}

#dieweltummichherum a {
    font-family: Roboto;
    font-size: 13px;
    padding-top: 13px;
    padding-bottom: 13px;
}

#ichwerdeselbststaendig {
    background-color: #44b284;
}

#ichwerdeselbststaendig > a:hover {
    background-color: #7cc3a3;
}

#ichwerdeselbststaendig a {
    font-family: Roboto;
    font-size: 13px;
    padding-top: 13px;
    padding-bottom: 13px;
}

#sichbewegen {
    background-color: #fd0;
}

#sichbewegen > a:hover {
    background-color: #ffea64;
}

#sichbewegen a {
    font-family: Roboto;
    font-size: 13px;
    padding-top: 13px;
    padding-bottom: 13px;
}

#lernen {
    background-color: #ffed98;
}

#lernen > a:hover {
    background-color: #fff3d8;
}

#lernen a {
    font-family: Roboto;
    font-size: 13px;
    padding-top: 13px;
    padding-bottom: 13px;
}

#arbeiten {
    background-color: #fbb900;
}

#arbeiten > a:hover {
    background-color: #ffcf53;
}

#arbeiten a {
    font-family: Roboto;
    font-size: 13px;
    padding-top: 13px;
    padding-bottom: 13px;
}

#gestaltenunderschaffen {
    background-color: #ef7d25;
}

#gestaltenunderschaffen > a:hover {
    background-color: #f5a04c;
}

#gestaltenunderschaffen a {
    font-family: Roboto;
    font-size: 13px;
    padding-top: 13px;
    padding-bottom: 13px;
}

#sprachen {
    background-color: #d60d66;
}

#sprachen > a:hover {
    background-color: #e35184;
}

#sprachen a {
    font-family: Roboto;
    font-size: 13px;
    padding-top: 13px;
    padding-bottom: 13px;
}

#fremdsprache {
    background-color: #ea518d;
}

#fremdsprache > a:hover {
    background-color: #ee7ba9;
}

#fremdsprache a {
    font-family: Roboto;
    font-size: 13px;
    padding-top: 13px;
    padding-bottom: 13px;
}

#lesen {
    background-color: #f29db7;
}

#lesen > a:hover {
    background-color: #f7bed2;
}

#lesen a {
    font-family: Roboto;
    font-size: 13px;
    padding-top: 13px;
    padding-bottom: 13px;
}

#schreiben {
    background-color: #a62068;
}

#schreiben > a:hover {
    background-color: #c9427e;
}

#schreiben a {
    font-family: Roboto;
    font-size: 13px;
    padding-top: 13px;
    padding-bottom: 13px;
}

#messen {
    background-color: #008fc8;
}

#messen > a:hover {
    background-color: #4fa8da;
}

#messen a {
    font-family: Roboto;
    font-size: 13px;
    padding-top: 13px;
    padding-bottom: 13px;
}

#loesungenfinden {
    background-color: #62c2d0;
}

#loesungenfinden > a:hover {
    background-color: #94d3e5;
}

#loesungenfinden a {
    font-family: Roboto;
    font-size: 13px;
    padding-top: 13px;
    padding-bottom: 13px;
}

#zaehlenundrechnen {
    background-color: #004077;
}

#zaehlenundrechnen > a:hover {
    background-color: #005daa;
}

#zaehlenundrechnen a {
    font-family: Roboto;
    font-size: 13px;
    padding-top: 13px;
    padding-bottom: 13px;
}

#formundraumentdecken {
    background-color: #3873b9;
}

#formundraumentdecken > a:hover {
    background-color: #658bc8;
}

#formundraumentdecken a {
    font-family: Roboto;
    font-size: 13px;
    padding-top: 13px;
    padding-bottom: 13px;
}

#mathezrbiszehn a {
    color: #4565ad;
    background-color: #001a3a;
}

#mathezrbiszehn > a:hover {
    color: white;
    background-color: #4565ad;
}

#deutschsatzanfang a {
    color: #4565ad;
    background-color: #001a3a;
}

#deutschsatzanfang > a:hover {
    color: white;
    background-color: #4565ad;
}

#sachkunde a {
    color: #4565ad;
    background-color: #001a3a;
}

#sachkunde > a:hover {
    color: white;
    background-color: #4565ad;
}

.firstlistitem {
    color: #4565ad;
    background-color: #001a3a;
}

.dropdown-menu {
    border-width: 3px;
    border-style: solid;
    border-color: white;
}

.firstlistitem {
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

nav.navbar.navbar-default.navbar-fixed-bottom {
    font-family: Roboto;
    font-weight: bold;
    font-style: normal;
    height: 50px;
    padding: .8em;
    text-align: center;
    color: #4565ad;
    background-color: #00264b;
}

#headerBar {
    font-family: Roboto;
    font-weight: bold;
    font-style: normal;
    background-color: #00264b;
}

#head {
    font-size: 13px;
    margin-top: .000008em;
}

#head2 {
    margin-bottom: 3em;
}
