body {
    height: 100%;
    background:pink;
}

@media screen and (max-width: 767px) {
    body{
        background-color: white;
    }
    #illustrationRight,#illustrationLeft, #scrollButtonUp, #scrollButtonDown, #footer, #rightDrop:after,#rightDrop:before, .firstDropRight:after,.firstDropRight:before, #leftDrop:after, #leftDrop:before, .firstDropLeft:after, .firstDropLeft:before, #trennbalken, .firstlistitem, .navbar-brand  {
        display: none;
    }
    #burgerTextBild{
        display: inline-block !important;
        padding-left: 10px;
        font-size: 13pt;
        font-family: Franklin Gothic Heavy;
        color: white;
        margin: 0px;
    }

    .dropdown{
        background-color: #001a3a;
        margin-top: 4px;
        padding-top: 6px !important;
        padding-bottom: 6px !important;
        padding-left: 6px !important;
    }

    #navbarElements{
        margin-top: 9px;
        max-height: 900%;
    }

    .navbar-nav{
        margin: 0px;
    }
    .navbar-left{
        margin-top: 7,5px;
    }

    .dropdown-menu a{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin: 0px !important;
    padding-left: 10px !important;
    padding-right: 0px !important;
    color: white !important;
    font-size: 13pt !important;
    font-family: Franklin Gothic Heavy;
    }
    .dropdown-menu{
        margin-top: 4px !important;
    }


}

#burgerTextBild{
    display: none;

}























#illustrationLeft{
    margin-top: 80px;
    float: left;
}

#illustrationRight{
    margin-top: 80px;
    float: right;
}

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  padding-top: 12px;
}

#navbarTop{
    height: 60px;
    background-color: #001a3a;

}

#navbarElements .dropdown{
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 12px;
}

.navbar-toggle {
    float: left;
}

hr{
  background-color: #4565ad;
  height: 30px;
  width: 1pt;
  margin: 5px;
  border: none;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 17px;
}

nav.navbar.navbar-default.navbar-fixed-bottom {
    font-family: Roboto;
    font-weight: bold;
    font-style: normal;
    height: 50px;
    padding: .8em;
    text-align: center;
    color: #4565ad;
    background-color: #00264b;
}

#head2 {
    margin-bottom: 3em;
}

#dasbinich {
    background-color: #79ab2e;
}

#dasbinich>a:hover{
    background-color: #a1c153;
}

#ichunddieanderen {
    background-color: #c6d54f;
}

#ichunddieanderen>a:hover {
    background-color: #dbe283;
}

#dieweltummichherum {
    background-color: #94c122;
}

#dieweltummichherum>a:hover {
    background-color: #bad151;
}


#ichwerdeselbststaendig {
    background-color: #44b284;
}

#ichwerdeselbststaendig>a:hover {
    background-color: #7cc3a3;
}

#sichbewegen {
    background-color: #fd0;
}

#sichbewegen>a:hover {
    background-color: #ffea64;
}

#lernen {
    background-color: #ffed98;
}

#lernen>a:hover {
    background-color: #fff3d8;
}

#arbeiten {
    background-color: #fbb900;
}

#arbeiten>a:hover {
    background-color: #ffcf53;
}

#gestaltenunderschaffen {
    background-color: #ef7d25;
}

#gestaltenunderschaffen>a:hover {
    background-color: #f5a04c;
}

#sprachen {
    background-color: #d60d66;
}

#sprachen>a:hover {
    background-color: #e35184;
}

#fremdsprache {
    background-color: #ea518d;
}

#fremdsprache>a:hover {
    background-color: #ee7ba9;
}

#lesen {
    background-color: #f29db7;
}

#lesen>a:hover {
    background-color: #f7bed2;
}

#schreiben {
    background-color: #a62068;
}

#schreiben>a:hover {
    background-color: #c9427e;
}

#messen {
    background-color: #008fc8;
}

#messen>a:hover {
    background-color: #4fa8da;
}

#loesungenfinden {
    background-color: #62c2d0;
}

#loesungenfinden>a:hover {
    background-color: #94d3e5;
}

#zaehlenundrechnen {
    background-color: #004077;
}

#zaehlenundrechnen>a:hover {
    background-color: #005daa;
}

#formundraumentdecken {
    background-color: #3873b9;
}

#formundraumentdecken>a:hover {
    background-color: #658bc8;
}


#mathezrbiszehn {
    background-color: #001a3a;
}

#mathezrbiszehn>a {
    color: #4565ad;
}

#mathezrbiszehn>a:hover {
    color: white;
    background-color: #4565ad;
}

#deutschsatzanfang a {
    color: #4565ad;
    background-color: #001a3a;
}

#deutschsatzanfang>a:hover {
    color: white;
    background-color: #4565ad;
}

#sachkunde a {
    color: #4565ad;
    background-color: #001a3a;
}

#sachkunde>a:hover {
    color: white;
    background-color: #4565ad;
}

#allekompetenzen{
    background-color: #001a3a;
}
#allekompetenzen>a:hover{
    background-color: #4565ad;
}

.dropdown-menu {
    width: 300px;
    padding-top: 0px;
    padding-bottom: 0px;
   border: 3px solid #fff;
}

ul.scroll-menu li{
    margin: 3px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.lastListItem{
    margin-bottom: 0px !important; /* Weil nur klasse nicht reicht und ID ist vergeben*/
}


.dropdown-menu::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
}
.dropdown-menu::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: lightgray;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.75);
}
.dropdown-menu li>a, .dropdown-menu li>a:hover{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    padding-left: 10px;
    padding-right: 0px;
    color: white;
    font-size: 13pt;
    font-family: Franklin Gothic Heavy;
}

.firstlistitem{
    color: #4565ad;
    background-color: #001a3a;
    height: 125px;
}

li.firstlistitem {
   padding-bottom: 50px;
   padding-top: 15px;
   padding-left: 15px;
   font-size: 13pt;
   font-family: Franklin Gothic Heavy;
}


.firstlistitem p{
    padding-left: 5px;
}
.dropdown-toggle-chapterOverview:active,.open .dropdown-toggle-chapterOverview{
    content: url("/pics/chapterOverview-active.png")
}
.dropdown-toggle-educationalPlan:active,.open .dropdown-toggle-educationalPlan{
    content: url("/pics/educationalPlan-active.png")
}
.dropdown-toggle-achievedCompetences:active,.open .dropdown-toggle-achievedCompetences{
    content: url("/pics/achievedCompetences-active.png")
}
.dropdown-toggle-profil:active,.open .dropdown-toggle-profil{
    content: url("/pics/student/superhero-robin-active.png")
}
.dropdown-toggle-school:active,.open .dropdown-toggle-school{
    content: url("/pics/school/school-green-active.png")
}
.dropdown-toggle-studyGroup:active,.open .dropdown-toggle-studyGroup{
    content: url("/pics/studyGroup/studyGroup_1a_active.png")
}
.dropdown-toggle-help:active,.open .dropdown-toggle-help{
    content: url("/pics/help-active.png")
}
.dropdown-toggle-logout:active,.open .dropdown-toggle-logout{
    content: url("/pics/logout-active.png")
}

#dropdownBLAU{
    background-color: #001a3a;
}
#dropdownBLAU a:hover{
    background-color: #4565ad;
    color: white;
}
#dropdownBLAU>a{
    color: #4565ad;
}

#dropdownWEIS{
    background-color: #001a3a;
}

#dropdownWEIS a:hover{
    background-color: #4565ad;
}

#dropdownWEIS>a{
    color: white;
}

#dropdownInfos{
    background-color: #001a3a;
    text-align: right;
    margin-bottom: 0px;
    margin-top: 0px;
    color:white;
    padding-right: 15px;
}

#dropdownInfosFirst{
   height: 100px;
    margin-bottom: 0px;
}

#dropdownInfosLast{
    padding-right: 15px;
    padding-bottom: 15px;
    background-color: #001a3a;
    text-align: right;
    margin-bottom: 2px;
    margin-top: 0px;
    color:white;
}

#dropdownInfosLastName{
    padding-right: 15px;
    padding-bottom: 15px;
    background-color: #001a3a;
    text-align: right;
    margin-bottom: 2px;
    margin-top: 0px;
    color:white;
    font-size: 10pt;
}



.box {
    margin: auto;
    max-width: 300px;
    margin-top: 60px;
    margin-bottom: 50px;
}

#content {

    top: 60px;
    bottom: 50px;
    left: 0;
    right: 0;
    overflow: auto;
}

ul.scroll-menu {
    position: relative;
    display: inherit !important;
    overflow-x: auto;
    overflow-y:auto;

    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: auto;
    max-height: 500px;
    margin: 0;
    border-left: none;
    border-right: none;
    border-bottom: 2px;
    border-radius: 0 !important;

    box-shadow: none;
    margin-top: -5px;
}
ul.scroll-menu-2x {
    max-height: 230px;
}

::-webkit-scrollbar {
     display: none;
}

#leftDrop{
    margin-top: 20px;
}

#leftDrop:after, #leftDrop:before {
	bottom: 100%;
	left: 9%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#leftDrop:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #001a3a;
	border-width: 10px;
	margin-left: -15px;
}

.firstDropLeft:after, .firstDropLeft:before {
	bottom: 100%;
	left: 7.3%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.firstDropLeft:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: white;
	border-width: 15px;
	margin-left: -15px;
}

#rightDrop {
    margin-top: 20px;
}

#rightDrop:after, #rightDrop:before {
	bottom: 100%;
	left: 94%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#rightDrop:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #001a3a;
	border-width: 10px;
	margin-left: -15px;
}

.firstDropRight:after, .firstDropRight:before {
	bottom: 100%;
	left: 92.3%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.firstDropRight:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: white;
	border-width: 15px;
	margin-left: -15px;
}

#scrollButtonUp {
    margin-top: 80px;
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 20px;
}

#scrollButtonDown {
    margin-bottom: 80px;
    position: fixed;
    bottom : 0;
    right: 0;
    margin-right: 20px;
}








.changesDiv{
    margin-top: 100px;
    font-family: Franklin Gothic Heavy;
    font-size: 20pt;
    color: #001a3a;
    text-align: center;

}
.changesDiv p{
    margin-top: 12px;
}






#loginButton {
    width: 150px;
    height: 40px;
    background-color: #001a3a;
    margin: 20px auto;
}
#passwordinput{
    width:300px;
    height: 40px;
}

#boxSeiten{
    width: 190px;
    display: inline-block;
    font-size: 11pt;
    color:#8da6d6;
    text-align: right;
    margin-right: 30px;

}
#boxMittig{
    width: 300px;
    display: inline-block;
}



#passwordinput{
    border: 2px solid #8da6d6;
    border-radius: 6px;
}

#buttonsFloat{
     display: inline-block;
}
#abbrechenButton {
    width: 150px;
    height: 40px;
    background-color: #8da6d6;
    margin: 20px auto;
    color:#4565ad;
}

.pictures img{
    margin: 5px;
}

